@import "tailwindcss";

:root {
  --background: #EEF6FF;
  --foreground: #171717;
  --text-accent: #2A2A72;
  --text-body: #1F2937;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #EEF6FF;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--text-body);
  font-family: Arial, Helvetica, sans-serif;
}
